<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sitsmice.idevevt_jar">

    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data android:name="design_width" android:value="768">
        </meta-data>
        <meta-data android:name="design_height" android:value="1280">
        </meta-data>

    </application>

</manifest>
